body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-menu {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
}

.product-col {
  background: whitesmoke;
  margin:0;
}

.ant-row {
  margin-top: 20px;
}
.product-row {
  //height: 100px;

}